html, body {
	width: 100%;
	height: 100%;
}
body {
	background-color: #F1F1F5;
	color: #333;
}
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, button, input, select, textarea, fieldset, form, label, legend, table, caption, article, aside, figure, footer, header, hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-family: "微软雅黑"
}
* {box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
ul, ol, li{
	list-style: none;
}
a {
	text-decoration: none;
	outline: none;
	color: #333;
}
a:focus, a:hover{
	outline: none !important;
}
a:hover{
	color: #28a7a6 !important;
}
.hand {
	cursor: pointer;
}
.clearfix {
	*zoom: 1;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	clear: both;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.hide{display: none;}
button::-moz-focus-inner, 
input[type="text"]::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
select::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner { 
	border: none;
	outline: none;
	blur: expression(this.onFocus=this.blur());
}
.fl {float: left;display: inline;}
.fr {float: right;display: inline;}